<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppAlertaPrevencionComunitaria">
        
        <activity
            android:name=".ActivitySeleccionComunidad"
            android:exported="false" />
        <activity
            android:name=".ActivityHistorialAlertas"
            android:exported="false" />
        <activity
            android:name=".ActivityContactosEmergencia"
            android:exported="false" />
        <activity
            android:name=".ActivityAlertaActiva"
            android:exported="false" />
        <activity
            android:name=".ActivityMuroSeguridad"
            android:exported="false" />
        <activity
            android:name=".ActivityPerfilUsuario"
            android:exported="false" />
        <activity
            android:name=".ActivityPanico"
            android:exported="false" />
        <activity
            android:name=".ActivityRecuperarClave"
            android:exported="false" />
        <activity
            android:name=".ActivityRegistrarse"
            android:exported="false" />
        <activity
            android:name=".ActivityIniciarSesion"
            android:exported="false" />
        <activity
            android:name=".ActivityRegistrarComunidad"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC8XNc4y-Jcm_IrGYUEMDDeM9TeHd4A668" />
    </application>

</manifest>